h1 {
  color: blue;
}


.gauche {

  float: left;
  padding: 20px;
  border-style: ridge;


}

.droite {

  float: right;
  padding: 20px;
  border-style: dotted;
}

.bas {

  clear: both;

}


.user {
  color: green;
  padding: 10px
}

.pause {
  padding: 10px;

}

.informations {

  background-color: black;
  color : white;

}


#break-button {
  background-color: green;

}

#action-btn {

  margin: auto;

}
